#navbar {
    /* background-color: #4CAF50; */
    background-color: #57738D;
    display: flex;
    justify-content: space-between;
}

#navbar ul {
    display: flex;
    padding: 8px 12px;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

#navbar ul li {
    list-style: none;
    padding: 12px 24px;
    /* height: 50px; */
    /* background-color: rgb(245, 245, 146); */
    background: rgb(39, 47, 62);
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

#navbar ul li:hover {
    background: #fff;
    color: rgb(39, 47, 62);
}

.crown_icon {
    color: #FFC434;
}
.medal-icon{
    height: 35px;
}

.logo{
    height: 70px;
}