* {
    padding: 0%;
    margin: 0%;
    user-select: none;
}

#navbar {
    /* background-color: #4CAF50; */
    background-color: #57738D;
    display: flex;
    justify-content: space-between;
}

#navbar ul {
    display: flex;
    padding: 8px 12px;
    align-items: center;
    justify-content: center;
}

#navbar ul li {
    list-style: none;
    padding: 12px 24px;
    /* height: 50px; */
    /* background-color: rgb(245, 245, 146); */
    background: rgb(39, 47, 62);
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

#navbar ul li:hover {
    background: #fff;
    color: rgb(39, 47, 62);
}

.crown_icon {
    color: #FFC434;
}

#container {
    display: flex;
    align-items: center;
    background-color: #f3f3f3;
    flex-direction: column;
    height: 87vh;
    padding-top: 1.5%;
}


/* table */
.table-container {
    width: 80%;
    /* padding: 10px; */
    margin-top: 4%;
    /* background: lightblue; */
    /* background: #D3E9F7; */
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.25);
    display: flex;
}

.table {
    width: 100%;
    font-size: 20px;
    border-collapse: collapse;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}

@media only screen and (max-width: 600px){
    .table{
        font-size: 17px;
    }
}

th,
td {
    text-align: center;
    border-bottom: 1px solid #ddd;
}

td {
    padding: 8px 12px;
    /* text-align: left; */
    text-align: center;
    background-color: #f3f3f3;
}

th {
    padding: 12px;
    background-color: #57738D;
    color: #FFFF;
}


h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: x-large;
}
#container{
    position: relative;
}

.report_form label{
    width: 100%;
    padding: 8px 4px;
    border-radius: 10px 10px 10px 10px;
    margin: 0;
    background: none;
    color: black;
}

form input {
    padding: 8px 8px;
    margin: 0;
    border-radius: 10px;
    width: 200px;
    /* outline: none; */
    border: none;
    color: #57738D;
}

h2 {
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0px;
}

.btn {
    width: 50%;
    padding: 7px 3px;
    margin-top: 10px;
    border: none;
    /* background: lightblue; */
    background: rgb(52, 65, 90);
    border: 1px solid rgb(52, 65, 90);
    border-radius: 10px;
    color: #fff;
    font-size: large;
    cursor: pointer;
}

.btn:hover {
    background-color: #fff;
    color: rgb(52, 65, 90);
}

.download_btn {
    padding: 6px 8px;
    margin-top: 10px;
    border: none;
    /* background: lightblue; */
    /* background: rgb(52, 65, 90); */
    background: #0999FB;
    border-radius: 10px;
    color: #fff;
    font-size: large;
    cursor: pointer;
}

@media only screen and (max-width: 600px){
    .download_btn {
        font-size: 15px !important;
    }
    h3{
        font-size: 15px;
    }

    .btn {
        border-radius: 10px;
    }

    .table td{
        padding: 0px !important;
    }
    .btn{
        font-size: small;
    }
}
.download_btn:active {
    background-color: green;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25);
}
#r-r-c-container{
  background-color: gray;
  position:fixed;
  top: 0%;
  left:0%;

}
/* .recently-reports-card {
    width: auto !important;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
    background-color: white !important;
} */
.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    z-index: 999; /* Ensure it's on top */
  }
.report_form {
    display: flex;
    flex-direction: column;
    padding: 10px 14px;
    height: 100;
    border-radius: 10px 0px 0px 10px;
    background: #f3f3f3;
    border-bottom: 1px solid #ddd;
} 
.recently_reports_card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px !important;
    overflow: hidden !important;
  }
.recently-reports-card ul{
    padding-left: 0;
}
.recently-reports-card li{
    list-style: none;
    margin: 5px;
}

.recently-reports a{
    color: none !important;
    font-size: 20px;
    text-decoration: underline;
}
#RDR {
    background: #fff;
    padding: 20px 30px;
}

#RDR i {
    padding-left: 95%;
    cursor: pointer;
}

.li {
    font-size: x-large;
    list-style: none;
    padding: 10px 0px;
}



